.home-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .home-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    .home-content-left {
      width: 80%;
      height: 100%;
      box-sizing: border-box;
      .home-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        .home-content-box {
          width: 523upx;
          height: 281.25upx;
          margin-bottom: 12.33upx;
          background: rgba(93, 166, 222, 0.12);
          box-sizing: border-box;
          margin-left: 13.88upx;
          .home-content-header {
            font-size: 23upx;
            font-family: Microsoft YaHei, sans-serif;
            font-weight: bold;
            color: rgba(53, 255, 250, 1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 6.94upx 0 6.94upx 20.83upx;
            .state-bar {
              display: flex;
              .state-bar-item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 26.56upx;
                .point {
                  width: 10.41upx;
                  height: 10.41upx;
                  margin-right: 6upx;
                  border: 0.69upx solid #fff;
                }
                .text {
                  font-size: 12.5upx;
                  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }
          .content-text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18.05upx;
            font-family: Microsoft YaHei;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
            line-height: 41.66upx;
            white-space: nowrap;
          }
          .content-title {
            text {
              font-size: 14upx;
              font-family: Microsoft YaHei, sans-serif;
              color: rgba(255, 255, 255, 1);
            }
          }
          .charts {
            width: 500upx;
            height: 200upx;
          }
          .home-content-one {
            border-top: 0.69upx solid rgba(0, 111, 233, 1);
            display: flex;
            justify-content: center;
            .content-one-list {
              display: flex;
              margin-top: 35.41upx;
              .content-one-item:not(:last-child) {
                margin-right: 13.88upx;
              }
              .content-one-item {
                height: 41.66upx;
                width: 143upx;
                .content-num {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .content-num-one,
                  .content-num-two {
                    height: 76.38upx;
                    font-size: 69.44upx;
                    font-family: PangMenZhengDao, sans-serif;
                    color: rgba(53, 255, 250, 1);
                  }
                  .content-num-two {
                    height: 8upx;
                    font-size: 34.72upx;
                  }
                }
                .content-total {
                  margin-top: 15.27upx;
                  font-size: 13.11upx;
                  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;

                  color: rgba(255, 255, 255, 1);
                  text-align: center;
                }
              }
            }
          }
          .home-content-two {
            border-top: 1px solid rgba(0, 111, 233, 1);
            .content-two-list {
              margin-left: 12.36upx;
            }
          }
          .home-content-three {
            width: 100%;
            box-sizing: border-box;
            border-top: 0.69upx solid rgba(0, 111, 233, 1);
            display: flex;
            flex-direction: column;
            padding: 0 20.83upx;
            .content-three-list {
              display: flex;
              margin-top: 10.88upx;
              overflow: auto;
              .content-three-item {
                width: 200upx;
                .charts-pie-box {
                  width: 100%;
                  overflow: auto;
                  padding-top: 13.88upx;
                  .canvas-pie {
                    height: 180upx;
                  }
                }
              }
            }
          }
          .canvas-pie-center {
            align-items: center;
          }
          .home-content-four {
            height: 233.33upx;
            border-top: 0.69upx solid rgba(0, 111, 233, 1);
            .content-four-list {
              margin-left: 17.36upx;
            }
          }
        }
      }
    }
    .home-content-right {
      width: 20%;
      box-sizing: border-box;
      .right-content-scroll {
        height: 575upx;
        padding-left: 13.88upx;
      }
    }
  }
}
